{% extends 'main.html' %}


{% block title %}
    {{ object.title }} - {{ block.super }}
{% endblock %}
    

{% block content %}
    <div class="container mx-auto px-6 lg:px-8 mt-8">
        <div class="w-full flex flex-wrap">
            <h2 class="text-xl font-semibold tracking-widest text-accent-yellow mb-1 uppercase truncate w-full">{{ object.name }}</h2>
            <h3 class="mb-4 italic text-gray-500 w-full">Contributor Name Here</h3>
        </div>
    </div>
    <div class="container mx-auto px-4">
        <div class="w-full mt-3 flex flex-wrap justify-between items-center lg:items-start">
            <img class="rounded w-full h-auto px-2 lg:w-2/3"
                src="https://via.placeholder.com/600x360/ffd437/000000?text=Individual+Item" alt="Item text">
            <div class="w-full flex justify-between mt-2 px-1 lg:w-1/3 lg:flex-wrap lg:-mt-1">
                <div class="w-1/4 p-1 lg:w-1/2">
                    <img class="rounded" src="https://via.placeholder.com/600x360/ffd437/000000?text=Individual+Item"
                        alt="Item text">
                </div>
                <div class="w-1/4 p-1 lg:w-1/2">
                    <img class="rounded" src="https://via.placeholder.com/600x360/ffd437/000000?text=Individual+Item"
                        alt="Item text">
                </div>
                <div class="w-1/4 p-1 lg:w-1/2">
                    <img class="rounded" src="https://via.placeholder.com/600x360/ffd437/000000?text=Individual+Item"
                        alt="Item text">
                </div>
                <div class="w-1/4 p-1 lg:w-1/2">
                    <img class="rounded" src="https://via.placeholder.com/600x360/ffd437/000000?text=Individual+Item"
                        alt="Item text">
                </div>
            </div>
            <div class="flex w-full px-2 my-4">

                <button
                    class="w-1/2 border-gray-200 border rounded p-2 mr-2 hover:bg-gray-200 hover:text-gray-800"><i
                        class="fas fa-heart"></i></button>
                <button
                    class="w-1/2 border-gray-200 border rounded p-2 ml-2 hover:bg-gray-200 hover:text-gray-800"><i
                        class="fas fa-download"></i></button>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="w-full">
            <h3 class="text-xl tracking-wider text-accent-yellow mt-3">Description</h3>
            <div class="text-gray-400 max-w-screen-md">
                {{ object.description }}
            </div>
        </div>
        <div class="w-full flex flex-wrap">
            <h3 class="w-full text-xl tracking-wider text-accent-yellow mt-3 mb-1">Related Tags</h3>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Tag
                Word Here</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Tag</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Functionality</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Easy
                Setup</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Utility</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Workflow</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Tool</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Node</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">Editor</button>
            <button
                class="p-1 m-2 border-gray-200 border tracking-wide rounded hover:bg-gray-200 hover:text-gray-800">System</button>
        </div>

    </div>
{% endblock %}