{% extends 'main.html' %}


{% block title %}
    {{ current_feature.name }} - {{ block.super }}
{% endblock %}
    

{% block content %}
    <div class="w-full bg-accent-green pt-12 pb-10">
        <div class="container mx-auto px-4 lg:px-8 lg:flex lg:items-center">
            <div class="lg:w-2/3 lg:pr-12 xl:pr-32">
                <h2 class="text-3xl text-white font-bold">{{ current_feature.name }}</h2>
                <p class="text-white text-lg tracking-wide lg:tracking-normal leading-snug xl:leading-normal">
                    {{ current_feature.description }}
                </p>
            </div>
            <button
                class="lg:hidden rounded p-2 text-gray-800 font-bold border mt-6 border-opacity-50 shadow hover:bg-opacity-75 border-nav-bg bg-accent-yellow">Donate
                to the Makers</button>
            <div class="hidden lg:w-1/3 lg:block bg-white rounded p-3">
                <h2 class="text-xl font-semibold leading-tight tracking-widest text-gray-900 uppercase text-center">
                    Support the Contributors</h2>
                <div class="flex flex-wrap w-full mx-auto justify-center h-auto">
                    <button
                        class="xl:w-3/4 rounded bg-accent-yellow border border-gray-800 border-opacity-75 text-gray-800 font-semibold uppercase p-2 w-full mt-3 mb-3 hover:bg-opacity-75">For
                        the cause!</button>
                </div>
                <p class="text-gray-800 italic max-w-xl text-center mx-auto text-sm">
                    Our contributors share their assets without expectation of return, but contributing can help makers dedicate more time to their assets.
                </p>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6 lg:px-8 mt-8">
        <h2 class="text-xl font-semibold tracking-widest text-gray-200 uppercase mb-2">Included in this pack</h2>
    </div>
    <div class="container px-4 mx-auto lg:px-6 flex flex-wrap">
        {% for asset in current_feature.assets.all %}
            <div class="w-1/2 h-auto rounded-lg overflow-hidden px-1 md:px-2 text-gray-400 pb-3 mb-4 lg:w-1/3 xl:w-1/4">
                <img src="https://via.placeholder.com/500x300/ffd437/000000?text=Individual+Item" alt="Item text">
                <h3 class="text-gray-600 text-xs uppercase tracking-wide font-semibold mt-3">Contributor Name</h3>
                <h2 class="text-gray-100 truncate text-lg font-semibold"><a href="{% url 'assets:AssetDetail' pk=asset.id %}">{{asset.name}}</a></h2>
                <div class="mt-2 flex justify-between items-center">
                    <div class="w-2/3">
                        <span class="text-gray-500 text-xs italic font-light">{% for tag in asset.tags.all %}{{tag.name}} | {% empty %}No Tags{% endfor %}</span>
                    </div>
                    <div class="w-1/3 pr-2 text-right">
                            <a href=""><i class="fas fa-heart fa-lead mx-2" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        {% empty %}
            Oh no, empty!
        {% endfor %}
    </div>
    <div class="container mx-auto px-6 lg:px-8 mt-8">
        <h2 class="text-xl font-semibold leading-3 tracking-widest text-gray-200 uppercase text-center">Support the
            Contributors</h2>
        <div class="flex flex-wrap w-full lg:w-1/2 mx-auto justify-center h-auto">
            <button
                class="w-1/5 rounded p-2 mx-2 mb-3 text-gray-200 font-bold border mt-6 bg-card-bg border-opacity-75 shadow border-accent-yellow hover:bg-gray-300 hover:text-gray-800">$5</button>
            <button
                class="w-1/5 rounded p-2 mx-2 mb-3 text-gray-200 font-bold border mt-6 bg-card-bg border-opacity-75 shadow border-accent-yellow hover:bg-gray-300 hover:text-gray-800">$10</button>
            <button
                class="w-1/5 rounded p-2 mx-2 mb-3 text-gray-200 font-bold border mt-6 bg-card-bg border-opacity-75 shadow border-accent-yellow hover:bg-gray-300 hover:text-gray-800">$25</button>
            <button
                class="w-1/5 rounded p-2 mx-2 mb-3 text-gray-200 font-bold border mt-6 bg-card-bg border-opacity-75 shadow border-accent-yellow hover:bg-gray-300 hover:text-gray-800">$50</button>
            <button
                class="lg:w-1/2 rounded bg-accent-yellow border border-gray-800 border-opacity-75 text-gray-800 font-semibold uppercase p-2 w-full mt-3 mb-3 hover:bg-white hover:bg-opacity-75">For
                the cause!</button>
        </div>
        <p class="text-gray-300 italic max-w-xl text-center mx-auto font-semibold">
            These assets took a lot of love and effort to make. Our contributors share their assets without expectation
            of return, but contributing can help makers dedicate more time to their assets.
        </p>
        <p class="text-gray-600 text-sm italic max-w-xl text-center mx-auto mt-2">
            No less than 80% of your contribution goes directly to the contributors. ProjectName takes a small portion
            to cover the cost of user downloads and development time.
        </p>
    </div>
{% endblock %}