<footer class="w-full text-gray-200 bg-nav-bg mt-8">
    <div class="container px-4 mx-auto md:px-6 lg:px-12 text-center p-4">
      <h2 class="text-lg font-semibold tracking-widest text-gray-200 uppercase rounded-lg focus:outline-none focus:shadow-outline pb-2 border-b border-accent-yellow border-opacity-50"><a href="#">DevLoot</a></h2>
      <div class="w-full flex flex-wrap">
        <div class="w-full text-center md:w-1/3 md:order-2 md:pt-5">
          <a class="block px-4 py-1 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-accent-yellow focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            href="#">Browse</a>
          <a class="block px-4 py-1 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-accent-yellow focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            href="#">Featured</a>
          <a class="block px-4 py-1 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-accent-yellow focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            href="#">Contributor Packs</a>
          <a class="block px-4 py-1 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-accent-yellow focus:bg-gray-200 focus:outline-none focus:shadow-outline"
            href="#">Login / Logout</a>
        </div>
        <div class="w-full text-left md:w-1/3 md:order-1">
          <h3 class="pt-5 font-semibold">Categories:</h3>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
          <a href="#" class="text-accent-yellow mr-2">Asset Type</a>
        </div>
        <div class="w-full text-left md:w-1/3 md:order-3">
          <h3 class="pt-5">Recently Featured</h3>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
          <a href="#" class="text-accent-yellow mr-2">Featured Pack</a>
        </div>
      </div>
    </div>
  </footer>